.userCard {
  width: 500px !important;
  height: 270px !important;
  text-align: center;
  border-radius: 10px;
  margin: 24px 48px 12px 48px;
  color: #545871;
}

.userCard:hover {
  cursor: pointer;
}

.userCard .title {
  margin-top: 10px;
  color: #545871;
  font-size: 26px;
  font-weight: bold;
}
.userCard .text {
  margin-top: 32px;
}
.userCard .subtitle {
  color: #dee2e6;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 24px;
}

.searchbar-div-userStories {
  padding-top: 32px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.flex-div-userStories {
  padding: 0% 1% 0% 1%;
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}

#button-search {
  color: white;
  background-color: #545871;
  border-color: #545871;
  border-radius: 0px;
}

#search-userStories {
  background-color: #f7eceb;
  border-color: #f7eceb;
  box-shadow: none;
}

#input-userStories {
  border-bottom: 1px solid #a6a9ad;
  width: 30%;
}

#seach-icon {
  margin-top: auto;
  color: #545871;
  margin-bottom: auto;
}

.card-footer-div {
  display: flex;
  justify-content: space-evenly;
}

.card-footer-div-left {
  width: 30%;
}
.card-footer-div-right {
  width: 45%;
}

.card-top-div {
  display: flex;
}

.card-top-div-left {
  margin-left: auto;
  margin-right: auto;
}

.card-top-div-right {
  margin-top: auto;
  margin-bottom: auto;
}

#more-icon {
  font-size: 25px;
}

#filtrar-ordenar-button-userStory {
  color: #545871;
  background-color: #f7eceb;
  border-color: #f7eceb;
  border-radius: 15px;
  height: 35px;
  margin-left: 0px;
  font-weight: bolder;
  width: fit-content;
}

.user-story-detail-modal {
  margin: auto;
  height: 650px !important;
  width: 1200px !important;
}
