.header-proyectos-analyst {
  margin-top: 16px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.userCard-analyst {
  width: 900px;
  height: 150px !important;
  margin: 8px 48px 8px 48px;
  border-radius: 15px;
}

.searchbar-div-userStories-analyst {
}

#card-body-analyst {
  display: flex;
}

.flex-div-userStories-analyst {
  padding: 0% 1% 0% 1%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  overflow: auto;
  height: 650px;
}
.left-part-card-analyst {
  width: 80%;
}

.right-part-card-analyst {
  width: 20%;
  display: flex;
}

#aprobar-button {
  margin: auto 0px auto auto;
  width: 50%;
  height: 35%;
  border-radius: 10px;
  background-color: #545871;
  border-color: #545871;
}
