.header-proyectos-analyst {
  margin-top: 16px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.userCard-analyst {
  width: 900px;
  height: 150px !important;
  margin: 8px 48px 8px 48px;
}

.searchbar-div-userStories-analyst {
}

#card-body-analyst {
}

.flex-div-userStories-analyst {
  padding: 0% 1% 0% 1%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  overflow: auto;
  height: 650px;
}
