.contenedor-tabla {
  display: flex;
  border-top: 1px solid #545871;
}

.col-clientes {
  width: 50%;
  border-right: 1px solid #545871;
}

.col-clientes .header {
  padding-left: 36px;
  background-color: white;
  color: #545871;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #545871;
}

.col-clientes .header p {
  margin: auto;
}

.col-analistas {
  width: 50%;
}

.col-analistas .header {
  background-color: white;
  color: #545871;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #545871;
  padding-left: 36px;
}

.col-analistas .header p {
  margin: auto;
}

#button-info-header {
  font-size: 14px;
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 1;
  margin-left: auto;
}

.info-body {
  background-color: white;
  border-bottom: 1px solid #545871;
  padding-left: 36px;
  height: 60px;
  display: flex;
  font-size: 15px;
}

#settings-user-wheel {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  font-size: 21px;
}

#settings-user-wheel:hover {
  cursor: pointer;
}

.setting-user-text {
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 64px;
}

.body-container-overflow {
  max-height: 240px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #545871;
}

#settings-info-user {
}

#btn-close {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  font-size: 21px;
  color: #545871;
}

#btn-close:hover {
  cursor: pointer;
}

.modal-content {
  background-color: #f0f1f7;
  min-height: 240px;
}

.modal-header {
  color: #545871;
  margin-left: 16px;
}

.modal-body {
  color: #545871;
}

#boton-guardar-modal {
  background-color: #545871;
  border-color: #545871;
  color: white;
}

#boton-cerrar-modal {
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
}

.add-to-proyects-body {
  max-height: 600px;
  overflow: auto;
}

.add-to-proyects-info-body {
  background-color: #f0f1f7;
  padding-left: 36px;
  height: 100px;
  display: flex;
  font-size: 15px;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

#agregar-usuario-proyecto {
  font-size: 14px;
  color: white;
  background-color: #545871;
  border-color: #545871;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 1;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
}

.add-user-img {
  border-radius: 30px;
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.searchbar-div-add-user-proyect {
  width: 90%;
  margin: auto;
}

#search-bar-add-user-proyect {
  height: 30px;
}

.body-container-overflow-organization-info2 {
  max-height: 400px;
  overflow: auto;
}
