.contenedor-tabla {
  display: flex;
  border-top: 1px solid #545871;
}

.col-clientes {
  width: 50%;
  border-right: 1px solid #545871;
}

.col-clientes .header {
  padding-left: 36px;
  background-color: white;
  color: #545871;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #545871;
}

.col-clientes .header p {
  margin: auto;
}

.col-analistas {
  width: 50%;
}

.col-analistas .header {
  background-color: white;
  color: #545871;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #545871;
  padding-left: 36px;
}

.col-analistas .header p {
  margin: auto;
}

#button-info-header {
  font-size: 14px;
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 1;
  margin-left: auto;
}

.info-body {
  background-color: white;
  border-bottom: 1px solid #545871;
  padding-left: 36px;
  height: 60px;
  display: flex;
  font-size: 15px;
}

#settings-user-wheel {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  font-size: 21px;
}

#settings-user-wheel:hover {
  cursor: pointer;
}

.setting-user-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 64px;
}

.body-container-overflow {
  max-height: 240px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-bottom: 1px solid #545871;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #545871;
}
