.top-buttons-account {
  display: flex;
  padding: 3% 0% 0% 0%;
  justify-content: space-between;
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bot-buttons-account {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.account-top-button {
  width: 45%;
  height: 75%;
  background-color: white;
  border-radius: 7px;
  display: flex;
}

.account-bottom-button {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 75%;
  background-color: white;
  border-radius: 7px;
  display: flex;
}

.left-side {
  border-radius: 7px 0px 0px 10px;
  width: 20%;
  max-width: 75px;
  height: 100%;
  background-color: var(--secondary-color);
}

.inside-account-info {
  padding: 16px;
  width: 100%;
}

.inside-account-info h5 {
  margin-bottom: 32px;
  color: var(--secondary-color);
}

.inside-account-info p {
  margin-bottom: 7px;
  color: var(--secondary-color);
}

#edit-account-info {
  font-size: 14px;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 7px;
  width: 120px;
  height: 35px;
  line-height: 1;
  float: right;
  margin-top: -4px;
  margin-right: 8px;
}
