.contenedor-info {
  color: var(--secondary-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 740px;
  padding: 32px 32px 32px 32px;
  font-size: 17px;
}

.fecha {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.fecha .sub-title {
  font-weight: bold;
}

.etiqueta {
  height: 35px;
  width: 100%;
  display: flex;
}

.etiqueta .sub-title {
  font-weight: bold;
}

.estado {
  height: 35px;
  width: 100%;
  display: flex;
}

.estado .sub-title {
  font-weight: bold;
}

.descripcion-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
  font-weight: bold;
}

.descripcion {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 8px;
  font-style: italic;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--secondary-color);
}

#button-info {
  font-size: 16px;
  color: var(--secondary-color);
  background-color: #dadbe6;
  border-color: #dadbe6;
  border-radius: 20px;
  width: 200px;
  height: 40px;
}

.info-users {
  margin-top: 48px;
}
