.k-chat {
  height: 100% !important;
  width: 100% !important;
  max-width: none !important;
  border-radius: 5px;
  border-color: none;
}

.k-chat .k-alt .k-bubble {
  background-color: #545871;
  border-color: #545871;
  color: white;
}
