.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}

.middle-center-register {
  height: 650px;
  width: 800px;
  margin: auto;
  text-align: center;
  overflow: auto;
}

.register-container h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  color: #545871;
  font-weight: bolder;
}

.ind-tab-register {
  margin-bottom: -1px !important;
  background: 0 0 !important;
  border: 1px solid transparent !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background-color: #545871 !important;
}

.ind-tab-register.active {
  background-color: #dadbe6 !important;
  color: #545871 !important;
  border-color: #545871 #545871 #545871 !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  border-radius: 5px !important;
}

.register-parts {
  width: 100%;
  height: 75%;
  background-color: #545871;
  padding: 32px 24px 16px 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.register-parts-2 {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #545871;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.plan-flex-div {
  display: flex;
  height: 95%;
  justify-content: space-around;
}

.plan-card {
  width: 31%;
  height: 100%;
  background-color: #ffff;
  border-radius: 10px;
  color: #545871;
  padding: 32px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.plan-card:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.plan-card h5 {
  margin-top: 16px;
  font-weight: bold;
}

.plan-card p {
  margin-top: auto;
  margin-bottom: 25%;
}

.plan-card Button {
  margin-top: auto;
  margin-bottom: 32px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.register-info {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  border-radius: 10px;
  color: #545871;
  padding: 24px 24px 24px 12px;
  display: flex;
  flex-direction: column;
}

.register-info h4 {
  display: flex;
  font-size: 19px;
}

.register-seccions {
  display: flex;
  height: 80%;
  width: 100%;
}

.buttons-register-info {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

#boton-guardar-modal-2 {
  background-color: #545871;
  border-color: #545871;
  color: white;
  width: 40%;
}
.register-seccions {
  display: flex;
  justify-content: space-around;
}

.col-register {
  width: 45%;
  text-align: start;
}
.col-register h5 {
  text-align: left;
  margin-top: 24px;
  margin-bottom: 20px;
  font-size: 17px;
}
.col-register p {
  width: 50%;
  font-weight: 500;
  margin-top: 24px;
  font-size: 17px;
}

.color-picker-div-register h5 {
  text-align: left;
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 17px;
}

#register-color-select {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: none;
  padding-left: 8px;
  border: 1px solid #ced4da;
  color: #545871;
  border-radius: 5px;
}

.card-field {
  border: 1px solid #545871;
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;
  color: #545871;
  border: 1px solid #ced4da;
}

.bsHInR .credit-card-input {
  color: #545871;
}

.line-flex-color-register {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.empty-fields-register {
  color: #545871;
  font-weight: 600;
  margin-top: 32px;
}

.bottom-color-picker {
}

.go-back-div {
  display: flex;
  justify-content: end;
  height: 25%;
}

#go-back-register {
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#go-back-register:focus {
  border-color: #545871;
  box-shadow: 0 0 0 0.2rem rgb(218 219 230 / 50%);
}

@media only screen and (max-width: 600px) {
  .middle-center-register {
    height: 70%;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .plan-card {
    width: 44%;
    padding: 8px;
  }

  .plan-card Button {
    width: 70%;
  }

  .register-parts {
    width: 80%;
    height: 75%;
    background-color: #545871;
    padding: 16px 12px 16px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  #go-back-register {
    width: 50%;
  }

  .plan-card h5 {
    height: 50px;
  }
}
