.color-picker-div h5 {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 32px;
}

.line-flex-color {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.contenedor-proyect-admin-2 {
  padding: 2% 5% 2% 5%;
  display: flex;
  color: var(--secondary-color);
}
