.contenedor-org-manage {
  padding-top: 16px;
  display: flex;
}

.organizacion-usuarios {
  width: 100%;
}

.organizacion-usuarios .header {
  padding-left: 36px;
  background-color: white;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

.organizacion-usuarios .header p {
  margin: auto auto auto 0px;
}

.organizacion-contenedor-tabla-top {
  display: flex;
  border-top: 1px solid var(--secondary-color);
  width: 48%;
}

.organizacion-contenedor-tabla-bottom {
  display: flex;
  border-top: 1px solid var(--secondary-color);
  width: 48%;
  margin-left: 32px;
}

#organization-button-header {
  font-size: 14px;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  line-height: 1;
  margin-left: auto;
}

.organization-info-body {
  background-color: white;
  padding-left: 36px;
  padding-right: 16px;
  height: 100px;
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 14px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.organization-info-body-proyect {
  background-color: white;
  padding-left: 36px;
  padding-right: 16px;
  height: 150px;
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 14px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.organization-proyect-text-name {
  color: var(--secondary-color);
  font-weight: bolder;
  width: 15%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: start;
}

.organization-proyect-text-date-1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 16px;
  width: fit-content;
  font-weight: bold;
  color: var(--secondary-color);
  width: 17%;
  text-align: start;
}

.organization-proyect-text-date-2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 32px;
  width: fit-content;
  font-style: italic;
  color: var(--secondary-color);
  width: 30%;
  text-align: start;
}

.organization-proyect-edit {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 32px;
  width: fit-content;
  font-style: italic;
  color: var(--secondary-color);
  width: 1%;
}

.organization-proyect-delete {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 32px;
  width: fit-content;
  font-style: italic;
  color: var(--secondary-color);
  width: 1%;
}

.organization-user-text-name {
  color: var(--secondary-color);
  font-weight: bolder;
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: start;
}

.organization-user-text-rol {
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  width: 20%;
  max-height: 70%;
  color: var(--secondary-color);
  text-align: start;
}

.organization-user-text-state {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 32px;
  width: fit-content;
  color: var(--secondary-color);
  width: 20%;
  text-align: start;
}

.body-container-overflow-organization {
  max-height: 650px;
  overflow: auto;
}

.organization-proyect-text-state {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
  overflow: hidden;
  width: 100px;
  max-height: 75%;
  color: var(--secondary-color);
}

.organization-proyect-text-state p {
  margin-top: auto;
  margin-bottom: auto;
}
