#aprobar-ticket {
  width: 40%;
  height: 45%;
  border-radius: 15px;
  background-color: #545871;
  border-color: #545871;
  font-size: 14.5px;
  margin-top: auto;
  margin-bottom: auto;
}

#rechazar-ticket {
  width: 40%;
  height: 45%;
  border-radius: 15px;
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
  font-size: 14.5px;
  margin-top: auto;
  margin-bottom: auto;
}

.ticket-text-block-3-admin {
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
}

.ticket-text-block-4-buttons {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.ticket-text-block-2-admin {
  width: 30%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  display: flex;
  justify-content: center;
}

.ticket-text-block-2-admin p {
  margin-top: auto;
  margin-bottom: auto;
}

.modal-t-body {
  margin-left: 16px;
}
