#aprobar-ticket {
  width: 40%;
  height: 40%;
  border-radius: 15px;
  background-color: #545871;
  border-color: #545871;
  font-size: 14.5px;
  margin-top: auto;
  margin-bottom: auto;
}

#rechazar-ticket {
  width: 40%;
  height: 40%;
  border-radius: 15px;
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
  font-size: 14.5px;
  margin-top: auto;
  margin-bottom: auto;
}
