.login-container {
  background-color: #f7eceb;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
}

.middle-center {
  width: 600px;
  margin: auto;
  overflow: auto;
}

.login-container h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #545871;
  font-weight: bolder;
}

.login-image {
  margin-bottom: 1rem;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.login-form-div {
  width: 80%;
  background-color: #545871;
  padding: 32px;
  border-radius: 7px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#login-button {
  color: #545871;
  background-color: #dadbe6;
  border-color: #dadbe6;
  border-radius: 7px;
  margin-top: 16px;
}

#login-button:focus {
  border-color: #545871;
  box-shadow: 0 0 0 0.2rem rgb(218 219 230 / 50%);
}

.login-buttons-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.login-link {
  color: white;
  font-size: 14px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.login-link:hover {
  cursor: pointer;
}

.error-login-message {
  color: #f7eceb;
  font-weight: 600;
}

.footer-login {
  margin-top: 1rem;
  font-size: 11px;
  color: #707070;
}

@media only screen and (max-width: 600px) {
  .middle-center {
    width: 400px;
    margin: auto;
  }

  .login-image {
    margin-bottom: 1rem;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-parts {
    padding: 16px;
  }

  .login-buttons-div {
    width: 70%;
  }

  .login-button {
    margin-top: 0.5rem;
  }

  .login-link {
    font-size: 12px;
  }

  .footer-login {
    margin-top: 2rem;
  }
}
