.info-password-change {
  font-size: 16px;
  color: white;
}

.mail-password {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--secondary-color);
}

#basic-addon2 {
  background-color: #dadbe6;
  border-radius: 0px 0.25rem 0.25rem 0px;
}
