body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
}

#root {
  background-color: var(--primary-color);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
